[submodule "software/lib/Adafruit_BNO055"]
	path = software/lib/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "proto"]
	path = proto
	url = https://github.com/SD-RTMS/downlink-messages
